
# Gnark Circuit
#  Verification key and proving key from gnark circuit
/gnark_circuits/scripts/keys

/legacy/circuits/circomlib

# Verifier.sols
/gnark_circuits/scripts/verifier

/node_modules/

/artifacts/
/legacy/build/
/cache/


#go client
/scripts_go/deploy
